extends layout
block content
    main#main
        section#content1(role='region')
            .col-12.col-sm-12.col-md-12.col-lg-12
                p(style='clear:both;')
                .containertabs
                    // Create Navigation Tabs to describle the functions of the product
                    .tabs
                        ul.tabNavigation
                            li
                                a(href='/register') Register 
                            li
                                a.selected(href='/login') Login
                        #second
                            .row
                                form(method='post')
                                    if flash
                                        p= flash.error
                                    fieldset
                                        p Enter your Username and Password to login
                                        .col-12.col-sm-12.col-md-12.col-lg-12
                                            .row
                                                .col-12.col-sm-12.col-md-1.col-lg-1
                                                    label Username
                                                .col-12.col-sm-12.col-md-5.col-lg-5
                                                    input#email(type='text', name='username', style='width: 100%;', aria-labelledby='email', required='')
                                                .col-12.col-sm-12.col-md-4.col-lg-4
                                                    label(style='float: left;') * Please enter your Username
                                            .row
                                                .col-12.col-sm-12.col-md-1.col-lg-1
                                                    label password
                                                .col-12.col-sm-12.col-md-4.col-lg-5
                                                    input(type='password', name='password', required='', style='width: 100%;')
                                                .col-12.col-sm-12.col-md-4.col-lg-4
                                                    label(style='float: left;') * Please enter your Password
                                        .col-12.col-sm-12.col-md-12.col-lg-12
                                            .row
                                                .col-12.col-sm-12.col-md-6.col-lg-6
                                                    a(href='/auth/github')
                                                        img.d-inline-block.align-top(src='/images/signinwithgithub.png', style='width:100%;', alt='details')
                                                .col-12.col-sm-12.col-md-6.col-lg-6
                                                    label(style='float: left;') * Sign in with Github
                                            .row
                                                .col-12.col-sm-12.col-md-6.col-lg-6
                                                    a(href='/auth/google')
                                                        img.d-inline-block.align-top(src='/images/signinwithgoogle.png', style='width:100%;', alt='details')
                                                .col-12.col-sm-12.col-md-6.col-lg-6
                                                    label(style='float: left;') * Sign in with Goolge
                                            a(href='#') Forgot your Password? CLICK HERE
                                        button.create_account.btn.btn-success(role='button', type='submit') Login
                .waste
