extends layout
block content
    main#main
        section#content1(role='region')
            .col-12.col-sm-12.col-md-12.col-lg-12
                p(style='clear:both;')
                .containertabs
                    // Create Navigation Tabs to describle the functions of the product
                    .tabs
                        ul.tabNavigation
                            li
                                a(href='#first') User Admin
                        #first
                            .col-12
                                table(style='width:100%;')
                                    tbody
                                        tr(style='border-bottom: 1px solid #ccc;')
                                            th ID
                                            th ID Foods
                                            th Name
                                            th Email
                                            th Password
                                            th Address
                                            th Phone
                                            th Edit
                                            th Delete
                                            th Details
                                        tr(style='border-bottom: 1px solid #ccc;')
                                            td 1
                                            td F001
                                            td John
                                            td john@yahoo.com
                                            td 12345678
                                            td 123 Bell Farm, Barrie, Canada
                                            td 437.111.7890
                                            td Edit
                                            td Delete
                                            td Details
                                        tr(style='border-bottom: 1px solid #ccc;')
                                            td 2
                                            td F002
                                            td Jimmy
                                            td jimmy@yahoo.com
                                            td 12345678
                                            td 123 Mc Bride Crest, L3X 2W2, Barrie, canada
                                            td 437.111.7890
                                            td Edit
                                            td Delete
                                            td Details
                                        tr(style='border-bottom: 1px solid #ccc;')
                                            td 3
                                            td F003
                                            td Sunny
                                            td sunny@yahoo.com
                                            td 12345555
                                            td 45 Rose, Barrie, Canada
                                            td 437.111.7890
                                            td Edit
                                            td Delete
                                            td Details
                                        tr(style='border-bottom: 1px solid #ccc;')
                                            td 4
                                            td F004
                                            td Henry
                                            td henry@yahoo.com
                                            td 12111111
                                            td 123 Mc Bride Crest, L3X 2W2, Barrie
                                            td 437.111.7890
                                            td Edit
                                            td Delete
                                            td Details
                                        tr(style='border-bottom: 1px solid #ccc;')
                                            td 5
                                            td F005
                                            td Hein
                                            td hein@yahoo.com
                                            td 87654321
                                            td 123 Bell Farm, Barrie
                                            td 437.111.7890
                                            td Edit
                                            td Delete
                                            td Details
                                        tr(style='border-bottom: 1px solid #ccc;')
                                            td 6
                                            td F006
                                            td Simba
                                            td simbe@yahoo.com
                                            td 12345678
                                            td 2433 North York, Toronto, Canada
                                            td 437.111.7890
                                            td Edit
                                            td Delete
                                            td Details
                .waste
